In [4]:
import sqlite3 as sq
import pandas as pd

In [5]:
database = sq.connect("sport.db")

In [6]:
database.execute('''
                CREATE TABLE football (
                player_id int,
                name char(20) DEFAULT NULL,
                nationality char(20) DEFAULT NULL,
                matches int DEFAULT NULL,
                goals int DEFAULT NULL,
                assists int DEFAULT 0,
                minutes_played int DEFAULT 0,
                shots int DEFAULT 0,
                shots_on_target int DEFAULT 0,
                fouls_committed int DEFAULT 0,
                yellow_cards int DEFAULT 0,
                red_cards int DEFAULT 0,
                PRIMARY KEY (`player_id`)
                );
                ''')

In [7]:
database.execute("insert into football values (1, 'ronaldo', 'portugal', 10,5,2,900,15,10,3,1,0),(2,'Lionel Messi','Argentina',9,6,4,810,18,10,3,2,0),(3,'Neymar Jr','Brazil',11,7,5,990,22,15,7,2,0),(4,'Kylian Mbappe','France',12,9,2,1080,25,18,4,1,0),(5,'Mohamed Salah','Egypt',8,5,3,720,15,10,6,0,0),(6,'Robert Lewandowski','Poland',11,10,1,990,23,16,3,0,0),(7,'Harry Kane','England',10,7,3,900,19,12,4,1,0),(8,'Kevin De Bruyne','Belgium',9,3,8,810,12,6,9,1,0),(9,'Sergio Ramos','Spain',10,2,1,900,5,3,15,3,1),(10,'Luis Suarez','Uruguay',7,4,3,630,10,6,5,1,0);")

In [8]:
database.commit()

In [9]:
data = database.execute("select * from football;")

In [10]:
for i in data:
    print(i)

(1, 'ronaldo', 'portugal', 10, 5, 2, 900, 15, 10, 3, 1, 0)
(2, 'Lionel Messi', 'Argentina', 9, 6, 4, 810, 18, 10, 3, 2, 0)
(3, 'Neymar Jr', 'Brazil', 11, 7, 5, 990, 22, 15, 7, 2, 0)
(4, 'Kylian Mbappe', 'France', 12, 9, 2, 1080, 25, 18, 4, 1, 0)
(5, 'Mohamed Salah', 'Egypt', 8, 5, 3, 720, 15, 10, 6, 0, 0)
(6, 'Robert Lewandowski', 'Poland', 11, 10, 1, 990, 23, 16, 3, 0, 0)
(7, 'Harry Kane', 'England', 10, 7, 3, 900, 19, 12, 4, 1, 0)
(8, 'Kevin De Bruyne', 'Belgium', 9, 3, 8, 810, 12, 6, 9, 1, 0)
(9, 'Sergio Ramos', 'Spain', 10, 2, 1, 900, 5, 3, 15, 3, 1)
(10, 'Luis Suarez', 'Uruguay', 7, 4, 3, 630, 10, 6, 5, 1, 0)

In [5]:
# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('Sport.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [6]:
# Select all data from the football table
cursor.execute('SELECT * FROM football')
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

(1, 'Updated Name', 'Updated Nationality', 10, 5, 2, 900, 15, 10, 3, 1, 0)
(2, 'Lionel Messi', 'Argentina', 9, 6, 4, 810, 18, 10, 3, 2, 0)
(3, 'Neymar Jr', 'Brazil', 11, 7, 5, 990, 22, 15, 7, 2, 0)
(4, 'Kylian Mbappe', 'France', 12, 9, 2, 1080, 25, 18, 4, 1, 0)
(5, 'Mohamed Salah', 'Egypt', 8, 5, 3, 720, 15, 10, 6, 0, 0)
(6, 'Robert Lewandowski', 'Poland', 11, 10, 1, 990, 23, 16, 3, 0, 0)
(7, 'Harry Kane', 'England', 10, 7, 3, 900, 19, 12, 4, 1, 0)
(8, 'Kevin De Bruyne', 'Belgium', 9, 3, 8, 810, 12, 6, 9, 1, 0)
(9, 'Sergio Ramos', 'Spain', 10, 2, 1, 900, 5, 3, 15, 3, 1)
(10, 'Luis Suarez', 'Uruguay', 7, 4, 3, 630, 10, 6, 5, 1, 0)