In [1]:
!pip install mysql-connector-python
!pip install SQLAlchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 108.9 kB/s eta 0:02:12
   ---------------------------------------- 0.0/14.3 MB 108.9 kB/s eta 0:02:12
   ---------------------------------------- 0.1/14.3 MB 252.2 kB/s eta 0:00:57
    --------------------------------------- 0.2/14.3 MB 860.2 kB/s eta 0:00:17
   - -------------------------------------- 0.7/14.3 MB 2.1 MB/s eta 0:00:07
   -- ------------------------------------- 1.0/14.3 MB 2.8 MB/s eta 0:00:05
   --- ------------------------------------ 1.4/14.3 MB 3.4 MB/s eta 0:00:04
   ---- ----------------------------------- 1.8/14.3 MB 3.9 MB/s eta 0:00:04
   ------ --------------------------------- 2.2/14.3 MB 4.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.5/14.3 MB 4.6 MB/s eta 0:00:03
   -------- ------------------------------- 2.9/14.3 MB 4.7 MB/s eta 0:00:03
   -------- ------------------------------- 3.2/14.3 MB 4.9 MB/s eta 0:00:03
   --------- ------------------------------ 3.5/14.3 MB 5.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.9/14.3 MB 5.2 MB/s eta 0:00:03
   ----------- ---------------------------- 4.1/14.3 MB 5.2 MB/s eta 0:00:02
   ------------ --------------------------- 4.4/14.3 MB 5.2 MB/s eta 0:00:02
   ------------- -------------------------- 4.7/14.3 MB 5.2 MB/s eta 0:00:02
   ------------- -------------------------- 5.0/14.3 MB 5.3 MB/s eta 0:00:02
   -------------- ------------------------- 5.4/14.3 MB 5.4 MB/s eta 0:00:02
   ---------------- ----------------------- 5.8/14.3 MB 5.5 MB/s eta 0:00:02
   ----------------- ---------------------- 6.1/14.3 MB 5.5 MB/s eta 0:00:02
   ----------------- ---------------------- 6.4/14.3 MB 5.6 MB/s eta 0:00:02
   ------------------ --------------------- 6.7/14.3 MB 5.6 MB/s eta 0:00:02
   ------------------- -------------------- 6.9/14.3 MB 5.6 MB/s eta 0:00:02
   -------------------- ------------------- 7.2/14.3 MB 5.7 MB/s eta 0:00:02
   -------------------- ------------------- 7.5/14.3 MB 5.6 MB/s eta 0:00:02
   --------------------- ------------------ 7.8/14.3 MB 5.6 MB/s eta 0:00:02
   ---------------------- ----------------- 8.0/14.3 MB 5.6 MB/s eta 0:00:02
   ----------------------- ---------------- 8.3/14.3 MB 5.7 MB/s eta 0:00:02
   ----------------------- ---------------- 8.6/14.3 MB 5.6 MB/s eta 0:00:02
   ------------------------ --------------- 8.9/14.3 MB 5.6 MB/s eta 0:00:01
   ------------------------- -------------- 9.2/14.3 MB 5.6 MB/s eta 0:00:01
   -------------------------- ------------- 9.5/14.3 MB 5.7 MB/s eta 0:00:01
   --------------------------- ------------ 9.8/14.3 MB 5.6 MB/s eta 0:00:01
   ---------------------------- ----------- 10.1/14.3 MB 5.7 MB/s eta 0:00:01
   ----------------------------- ---------- 10.4/14.3 MB 6.5 MB/s eta 0:00:01
   ------------------------------ --------- 10.8/14.3 MB 6.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.3 MB 6.4 MB/s eta 0:00:01
   ------------------------------- -------- 11.4/14.3 MB 6.4 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.3 MB 6.4 MB/s eta 0:00:01
   --------------------------------- ------ 12.1/14.3 MB 6.4 MB/s eta 0:00:01
   ---------------------------------- ----- 12.4/14.3 MB 6.3 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.3 MB 6.3 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.3 MB 6.2 MB/s eta 0:00:01
   ------------------------------------ --- 13.2/14.3 MB 6.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.3 MB 6.2 MB/s eta 0:00:01
   -------------------------------------- - 13.7/14.3 MB 6.1 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 5.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.35-cp310-cp310-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\anaconda3\envs\texts\lib\site-packages (from SQLAlchemy) (4.11.0)
Collecting greenlet!=0.4.17 (from SQLAlchemy)
  Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.35-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 325.1 kB/s eta 0:00:07
   -- ------------------------------------- 0.1/2.1 MB 819.2 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/2.1 MB 3.0 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 4.3 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 5.3 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.8 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl (298 kB)
   ---------------------------------------- 0.0/298.4 kB ? eta -:--:--
   ---------------------------------------- 298.4/298.4 kB 9.3 MB/s eta 0:00:00
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.35 greenlet-3.1.1

In [2]:
from sqlalchemy import create_engine, MetaData, Table, text
from sqlalchemy.orm import sessionmaker

In [10]:
import sqlite3 as sq
database = sq.connect("company.db")

In [11]:
database.execute('DROP TABLE IF EXISTS COMPANY_EXPENSES')

In [12]:
session = database

In [14]:
# Create COMPANY_EXPENSES table
create_COMPANY_EXPENSES_table = """
CREATE TABLE IF NOT EXISTS COMPANY_EXPENSES (
  expenditure_id INT PRIMARY KEY,
  company_name VARCHAR(100),
  annual_income INT,
  expenses_type VARCHAR(30),
  amount INT,
  year INT,
  department TEXT,
  payment_method TEXT
);
"""
session.execute(create_COMPANY_EXPENSES_table)

In [20]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# SQL insert statement
sql = '''
INSERT INTO COMPANY_EXPENSES (
    expenditure_id, company_name, annual_income, expenses_type, amount, year, department, payment_method
) VALUES
    (1, 'Amazon', 469000000, 'office supplies', 5000000, 2024, 'administration', 'credit card'),
    (2, 'Microsoft', 168000000, 'logistics', 9500000, 2024, 'supply chain', 'bank transfer'),
    (3, 'Apple', 365000000, 'utilities', 1500000, 2024, 'facilities', 'bank transfer'),
    (4, 'Tesla', 5380000, 'Training', 3000000, 2024, 'HR', 'credit card'),
    (5, 'Facebook', 1180000000, 'software', 22000000, 2019, 'IT', 'invoice'),
    (6, 'Starbucks', 28200000, 'research', 30000, 2021, 'research', 'invoice'),
    (7, 'Google', 257000000, 'consulting', 2600000, 2023, 'finance', 'invoice'),
    (8, 'Infosys', 86000000, 'marketing', 630000, 2022, 'marketing', 'credit card'),
    (9, 'Nike', 4450000, 'travel', 4500000, 2021, 'sales', 'bank transfer'),
    (10, 'Coca-Cola', 38700000, 'marketing', 7500000, 2020, 'marketing', 'credit card');
'''

# Execute the SQL statement
cursor.execute(sql)

In [25]:

conn.commit()
conn.close()

In [24]:
!pip install pandas

import pandas as pd

Requirement already satisfied: pandas in c:\users\hp\anaconda3\envs\texts\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\hp\anaconda3\envs\texts\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\envs\texts\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\envs\texts\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\envs\texts\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\texts\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [27]:
# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('company.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [28]:
# Select all data from the football table
cursor.execute('SELECT * FROM COMPANY_EXPENSES')
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

(1, 'Amazon', 469000000, 'office supplies', 5000000, 2024, 'administration', 'credit card')
(2, 'Microsoft', 168000000, 'logistics', 9500000, 2024, 'supply chain', 'bank transfer')
(3, 'Apple', 365000000, 'utilities', 1500000, 2024, 'facilities', 'bank transfer')
(4, 'Tesla', 5380000, 'Training', 3000000, 2024, 'HR', 'credit card')
(5, 'Facebook', 1180000000, 'software', 22000000, 2019, 'IT', 'invoice')
(6, 'Starbucks', 28200000, 'research', 30000, 2021, 'research', 'invoice')
(7, 'Google', 257000000, 'consulting', 2600000, 2023, 'finance', 'invoice')
(8, 'Infosys', 86000000, 'marketing', 630000, 2022, 'marketing', 'credit card')
(9, 'Nike', 4450000, 'travel', 4500000, 2021, 'sales', 'bank transfer')
(10, 'Coca-Cola', 38700000, 'marketing', 7500000, 2020, 'marketing', 'credit card')

In [30]:
# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('Company.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [31]:
# Select all data from the football table
cursor.execute('SELECT * FROM COMPANY_EXPENSES')
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

(1, 'Amazon', 469000000, 'office supplies', 5000000, 2024, 'administration', 'credit card')
(2, 'Microsoft', 168000000, 'logistics', 9500000, 2024, 'supply chain', 'bank transfer')
(3, 'Apple', 365000000, 'utilities', 1500000, 2024, 'facilities', 'bank transfer')
(4, 'Tesla', 5380000, 'Training', 3000000, 2024, 'HR', 'credit card')
(5, 'Facebook', 1180000000, 'software', 22000000, 2019, 'IT', 'invoice')
(6, 'Starbucks', 28200000, 'research', 30000, 2021, 'research', 'invoice')
(7, 'Google', 257000000, 'consulting', 2600000, 2023, 'finance', 'invoice')
(8, 'Infosys', 86000000, 'marketing', 630000, 2022, 'marketing', 'credit card')
(9, 'Nike', 4450000, 'travel', 4500000, 2021, 'sales', 'bank transfer')
(10, 'Coca-Cola', 38700000, 'marketing', 7500000, 2020, 'marketing', 'credit card')